@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Source+Code+Pro&display=swap');

:root {

}

body {
  background-color: black;
  color: white;
  font-family: 'Source Code Pro', monospace;
}

.icon{
  user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}