.garages-map {
  position: center;;
  margin-left: 20%;
  margin-right: 20%;
}

.garage-button {
  background: rgb(255, 255, 255);
  color: black;
}

.garage-button:nth-child(1) {
  width: auto;
}

.garage-button:nth-child(2) {

}

.garage-button:nth-child(3) {

}

.garage-button:nth-child(4) {

}

.garage-button p {
  padding-top: 1rem;
  line-height: 100%;
}

